<?xml version="1.0" encoding="UTF-8" ?>n")
<rss version="2.0">
	<channel>
		<title>{{ stream.name }}</title>
		<description>Stream ID: {{ stream.id }}</description>
		<link>http://192.168.1.200:30000/api/getPodcast?id={{ stream.id }}</link>
		<ttl>60</ttl>
		<!--<image><url>" + rssImageUrl + "</url><title>" + rssTitle + "</title><link>" + rssLink + "</link></image>-->
		<copyright>Streamrecord 2014</copyright>
		<lastBuildDate>{{ builddate }}</lastBuildDate>
		<pubDate>{{ builddate }}</pubDate>
		<webMaster>streamrecord@raid.local</webMaster>
		{% for file in stream.files %}
			<item>
			<title>{{ file.filename }}</title>
			<description>{{ file.bytes/1000/1000 }} MB</description>
			<link>http://192.168.1.200:30000/api/download?id={{ stream.id }}&amp;fn={{ file.filenum }}</link>
			<guid>http://192.168.1.200:30000/api/download?id={{ stream.id }}&amp;fn={{ file.filenum }}</guid>
			<pubDate>{{ file.date }}</pubDate>
			<enclosure url="http://192.168.1.200:30000/api/download?id={{ stream.id }}&amp;fn={{ file.filenum }}" length="{{ file.bytes }}" type="audio/mpeg" />
			</item>
		{% endfor %}
	</channel>
</rss>